{% extends 'app/layoutreg.html' %}
{% load crispy_forms_tags %}

{% block title %}
Change Password
{% endblock %}

{% block header %}
  Change Password
{% endblock %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="form-content">
<div class="row">
        <div class="col-md-6">
                <div class="form-group">
                        {{ form|crispy}}
                  </div>
            </div>
        </div>
    <br>
    <button type="submit" class="btnSubmit">Change Password</button><br><br>
</div>
</form>

{% endblock %}