{% extends 'app/posts_base.html' %}

{% block title %}
posts
{% endblock %}

{% block css %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
          rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet"
          href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>

{% endblock %}

{% block content %}
<div class="container">
    <form method="get" action="{% url 'search' %}">
        <input name="q" value="{{ request.GET.q }}" placeholder="search user..">
        <button type="submit"> Search </button>
    </form>
    <br>
    <form method="get" action="{% url 'search_posts' %}">
         <input name="q" value="{{ request.GET.q }}" placeholder="search posts..">
         <button type="submit"> Search </button>
    </form>
</div><br>
<div>
    {% for post in posts %}
    <div class="container">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" style="border-radius: 50%" src="{{ post.author.profile.Profile_image.url }} " width="100px " height="100px">
                </a>
                <div class="media-body">
                    <a  {% if post.author == user %}
                        href="{% url 'profile' %}"
                        {% endif %}href="{% url 'userpage' post.author.profile.id %}">
                        <h4 class="media-heading">{{ post.author }}</h4>
                    </a>
                    <p class="media-heading" style=" font: italic small-caps bold 30px/2 cursive;" >
                        <a href="{% url 'detail' post.pk %}" >{{post.title }}</a>
                    </p>
                    <p>{{ post.subject }}</p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> Posted On </span></li>
                        <li></li><span> {{ post.date_posted }} </span><br>
                        <li><span><i class="glyphicon glyphicon-calendar"></i> Last modified </span></li>
                        <li><span> {{ post.last_modified }} </span></li>
                        <li><span> &#124; {{ post.like.count }} Likes </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}