{% extends 'app/layoutreg.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Add post
{% endblock %}

{% block nav %}

<nav>
        <div>
              <h1><a href="#"><img src="{% static 'sdk/logoo.png' %}" style="width:150px;  height:75px ;" /></a></h1> 
        </div>
        <ul>
            <li><a href="{% url 'logout' %}">HOME</a></li>
            <li><a href="{% url 'posts' %}">POSTS</a></li>
            <li><a href="{% url 'Followers_Posts' user.pk %}">FOLLOWERS POSTS</a></li>
            <li><a href="{% url 'newpost' %}">ADD POST</a></li>
            <li><a href="{% url 'my_post' %}">MY POSTS</a></li>
            <li><a href="{% url 'profile' %}">PROFILE</a></li>
            <li><a href="{% url 'logout' %}">LOG OUT</a></li>
        </ul>
     
    </nav> <br>
{%  endblock %}

{% block header %}
UPDATE POST
{% endblock %}



{% block content %}

<form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                        <div class="form-content">
                            <div class="row">
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                    {{ form|crispy}}                          
                                              </div>
                                        </div>
                                    </div>
                                <br>
                                <button type="submit" class="btnSubmit">Update</button><br><br>
                            </div>    
                        </form>
{% endblock %}